// screen size breakpoints
$screen-sm-min: 1125px;

// mixins
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

.main {
  background: #B5BDC5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .stage {
    padding: 0 2%;
    margin-bottom: 5em;
    margin-top: 2em;
    @include sm {
      width: 60%;
      padding: 0 20%;
    }
  }
}

.MuiAccordionSummary-root.Mui-expanded {
  border-bottom: 1px solid #c4c4c4;
}

.MuiAccordion-rounded {
  border-radius: 4px;
}
