// screen size breakpoints
$screen-sm-min: 576px;

// mixins
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

.main {
  background: #B5BDC5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .stage {
    padding: 0 2%;
    @include sm {
      width: 60%;
      padding: 0 20%;
    }
  }
}
