  .item-picker {
    display: flex;
    .left-column-nav {
      border-right: 2px solid #c4c4c4;
      background: #f3f3f3;
      margin-right: 20px;
      flex: 0 0 auto;
      div {
        padding: 0 25px;
        cursor: pointer;
        line-height: 2em;
        &.active {
          background: #fefefe;
          color: #497ea1;
          display: block;
          position: relative;
        }
      }
    }
  }
  .right-column, .selected-items {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-right: 20px;
    align-self: center;
    .new-item {
      align-self: center;
    }
    .existing-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .named-item-chip, .selected-item-chip {
      margin: 5px;
    }
    .selected-item-chip {
      font-size: 0.6em;
    }
  }

  .selected-items {
    border-top: 2px solid #c4c4c4;
    width: 100%;
  }