  .item-picker {
    display: flex;
    align-items: center;
    .left-column-nav {
      border-right: 2px solid #c4c4c4;
      background: #f3f3f3;
      margin-right: 20px;
      flex: 0 0 auto;
      div {
        padding: 0 25px;
        cursor: pointer;
        line-height: 2em;
        &.active {
          background: #fefefe;
          color: #497ea1;
          display: block;
          position: relative;
        }
      }
    }
    .right-column {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      margin-right: 20px;
      .existing-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .new-item {
        align-self: center;
      }

      .named-item-chip {
        margin: 5px;
      }
    }
  }