/* GENERAL */
* {
  margin: 5px;
}

body {
  margin-bottom: 30px;
}

h2.header{
  padding: 5px 0 0 5px;
}

ul.sectionList {
  list-style-type: none;
  padding-left: 30px;
}


/* NAVBAR */
.active {
  color: lightgreen;
}

.navLink {
  border: none;
  background: none;
  font-size: 1em;
}

.disabled {
  border: none;
  background: none;
  font-size: 1em;
  color: lightgray;
}

.navLink:hover {
  color: lightgreen;
}
/* ------------------ */

/* FLEXBOX COMPONENTS */
.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-outfits {
  border: solid grey 1px;
  -webkit-flex: 5;
  flex: 5;
  min-width: 250px;
}

.flex-additional {
  border: solid grey 1px;
  -webkit-flex: 2;
  flex: 2;
}

  /* VALIDATION */
.error {
  color: red;
}

.error div {
  border: 1px solid red;
  margin: 10px;
}

.curvedBorder {
  -webkit-appearance: button;
}
