.active {
  color: lightgreen;
}

.navLink {
  border: none;
  background: none;
  font-size: 1em;
}

.disabled {
  border: none;
  background: none;
  font-size: 1em;
  color: lightgray;
}

.navLink:hover {
  color: lightgreen;
}

.outfit {
  text-indent: 10px;
  margin: 10px;
}