/* GENERAL */
* {
  margin: 5px;
}

body {
  margin-bottom: 30px;
}

h2.header{
  padding: 5px 0 0 5px;
}

ul.sectionList {
  list-style-type: none;
  padding-left: 30px;
}


/* NAVBAR */
.active {
  color: lightgreen;
}

.navLink {
  border: none;
  background: none;
  font-size: 1em;
}

.disabled {
  border: none;
  background: none;
  font-size: 1em;
  color: lightgray;
}

.navLink:hover {
  color: lightgreen;
}
/* ------------------ */

/* FLEXBOX COMPONENTS */
.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 95%;
  margin: auto;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-5 {
  border: solid grey 1px;
  -webkit-flex: 5;
  flex: 5;
  min-width: 250px;
}

.flex-2 {
  border: solid grey 1px;
  -webkit-flex: 2;
  flex: 2;
}

  /* VALIDATION */
.error {
  color: red;
}

.error div {
  border: 1px solid red;
  margin: 10px;
}

.curvedBorder {
  -webkit-appearance: button;
}

 /* CARDS */
.card {
  height: auto;
  min-height: 160px;
  width: 50%;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  padding: 10px;
  cursor: pointer;
}

 /* MODAL */

.modal-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  position: fixed;
  z-index: 1;
}

.modal-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  width: auto;
  max-width: 90%;
  height: auto;
  max-height: 90%;
  z-index: 2;
  overflow: hidden;
  background-color: white;
}

.modal-alert {
  width: 400px;
}

.modal-header {
  border-bottom: 1px solid #dddddd;
  padding: 0px 23px;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  margin-bottom: 0px;
}

.modal-header h4{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: inherit;
}

.modal-body {
  overflow-y: auto;
  padding: 23px 43px 23px 23px;
  max-height: 100%;
}
.modal-body-with-header {
  max-height: calc(100% - 60px);
}

.modal-close {
  position: absolute;
  top: 19px;
  right: 20px;
  opacity: 0.6;
  cursor: pointer;
  z-index: 100;
}

.modal-close svg {
  width: 18px;
  height: 18px;
}

.modal-actions {
  padding: 15px 18px;
  box-sizing: border-box;
  float: right;
}

.modal-button, #ams a.modal-button {
  display: inline-block;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 15px;
  height: 34px;
  line-height: 33px;
  padding: 0 15px;
  margin: 5px;

  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;

  text-decoration: none;
  cursor: pointer;
}

.modal-button:disabled, #ams a.modal-button:hover {
  opacity: 1;
}

.modal-button:hover, #ams a.modal-button:hover {
  opacity: 0.8;
}

.modal-button:disabled:hover, #ams a.modal-button:disabled:hover {
  opacity: 1;
  cursor: default;
}

.modal-button:focus, #ams a.modal-button:focus {
  outline: none;
  box-shadow:   0 0 6px rgba(0,117,142,1);  /* teal glow */
}

.modal-button.primary, #ams a.modal-button.primary {
  color: #ffffff;
  background: #00758E;
  border: 1px solid #00758E;
}

.modal-button.primary:disabled, #ams a.modal-button.primary:disabled {
  color: #ffffff;
  background: #dddddd;
  border: 1px solid #dddddd;
}

.modal-button.secondary, #ams a.modal-button.secondary {
  color: #00758E;
  background: transparent;
  border: 1px solid #00758E;
}

.modal-button.secondary:hover, #ams a.modal-button.secondary:hover {
  opacity: 1;
  background: rgba(0,117,142,0.1);
}

.modal-button.secondary:disabled, #ams a.modal-button.secondary:disabled {
  color: #dddddd;
  background: transparent;
  border: 1px solid #dddddd;
}

.modal-button.txtbutton, #ams a.modal-button.txtbutton {
  color: #00758E;
  background: transparent;
}

.modal-button.txtbutton:hover, #ams a.modal-button.txtbutton:hover {
  opacity: 1;
  background: rgba(0,0,0,0.1);
}

.modal-button.txtbutton:disabled, #ams a.modal-button.txtbutton:disabled {
  color: #dddddd;
  background: transparent;
}

.dark.modal-button.txtbutton, #ams a.modal-button.txtbutton {
  background: #142a35;
  color: #fff;
}

.dark.modal-button.txtbutton:hover, #ams a.dark.modal-button.txtbutton:hover {
  opacity: 1;
  background: rgba(255,255,255,0.1);
}

.dark.modal-button.txtbutton:disabled,  #ams a.dark.modal-button.txtbutton:disabled {
  color: rgba(255,255,255,0.2);;
  background: transparent;
}

