.schedule {
    position: relative;
    top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #efefef;
    font-weight: 700;
}

.schedule .rdrDay .rdrStartEdge, .rdrDayStartOfWeek .rdrInRange {
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
}

.schedule .rdrDay .rdrEndEdge, .rdrDayEndOfWeek .rdrInRange {
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}
